<div class="main_view">
    <div class="hidden-xs">
        <img src="assets/Main_Banner.jpg" width="100%">
    </div>
    <div class="visible-xs">
        <img src="assets/Mobile_Banner.jpg" width="100%">
    </div>
    <div class="text-wrap">
        <h2>Display your events, beautifully</h2>
        <p>ECA is the most simple way to add a stunning Event Calendar to your website. Install in minutes.</p>
    </div>
    <div id="events-list">
        <div ng-repeat="event in eventsList" ng-click="goToViewEvent(event)">
            <div>{{event.name}}</div>
            <div>{{event.location}}</div>
        </div>
    </div>

</div>


